body {
    margin: 0;
    background-color: #171719;
}

a, a:hover, a:active {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}

.social_row, .social_row_two {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 5px;
}

.social_row a, .social_row_two a {
    flex: 1;
    display: flex;
    justify-content: center;
}
.social_row img {
  width: 75%;
}


/*--VERSION SEMI FLAT DESIGN--*/

.social_row a {
    filter: grayscale(100%);
}

.social_row a:hover {
    filter: none;
}

/*--VERSION FONTHELLO--*/

.social_row_two {
    margin-top: 80px;
}

.social_row_two a {
    margin: 20px;
    font-size: 3em;
    color: #F4E3D7;
}

.social_row_two a:hover {
    border-radius: 100%;
    color: #171719;
}

.icon-github-circled:hover {
    background-color: #764ABC;
}

.icon-linkedin:hover {
    background-color: #346DA6;
}

.icon-twitter:hover {
    background-color: #4186CD;
}

.icon-wordpress:hover {
    background-color: #346DA6;
}

.icon-pinterest:hover {
    background-color: #CA4738;
}
