body {
  background-color: #262729;
}
.nav>ul {
    display: flex;
}
.card {
  padding: 0;
  height: 70%;
}
.pinkborder {
  width: 100%;
  height: 100%;
}
.redborder {
  width: 100%;
  height: 100%;
}
.main_div {
  position: relative;
  margin: 80px 20px 0 20px;
  width: auto;
  height: 800px;
  align-content: center;

    padding: 0;
}

/* LE CADRE */


.ring {
  height: 100%;
  position: absolute;
  mix-blend-mode: screen;
  background: transparent;
}

.red {
  border: 3px solid white;
  animation: redanim linear 3.5s;
  animation-iteration-count: infinite;
}
.pink {
  border: 3px solid 	#ec4d7b;
  animation: greenanim linear 4s;
  animation-iteration-count: infinite;
}
.blue {
  border: 3px solid #498bab;
  animation: blueanim linear 4.5s;
  animation-iteration-count: infinite;
}

@keyframes redanim{
  0%   {transform:  rotate(0deg)  ;}
  25%  {transform:  rotate(0.5deg) ;}
  50%  {transform:  rotate(1deg);}
  75%  {transform:  rotate(0.5deg);}
  100% {transform:  rotate(0deg);}
}

@keyframes greenanim{
  0%   {transform:  rotate(0.5deg)  ;}
  25%  {transform:  rotate(0deg) ;}
  50%  {transform:  rotate(-0.5deg) ;}
  75%  {transform:  rotate(0deg) ;}
  100% {transform:  rotate(0.5deg) ;}
}

@keyframes blueanim{
 0%   {transform:  rotate(-1deg)  ;}
  25%  {transform:  rotate(-0.5deg) ;}
  50%  {transform:  rotate(0deg) ;}
  75%  {transform:  rotate(-0.5deg) ;}
  100% {transform:  rotate(-1deg) ;}
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1200px) {
  .grid .w-3-12 {
      width: calc(100%/3);
    }
}

@media only screen and (max-width: 900px) {
  .grid .w-3-12 {
      width: 50%;
    }
}



/* MAIN DIV on retire ça
display: flex;
flex-wrap: wrap;
width:auto;
text-align: center; */
